<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0uq9iORzQaEFguJzNGi1ccUZF3ZSzG9E</string>
	<key>GCM_SENDER_ID</key>
	<string>26209738343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.motorz</string>
	<key>PROJECT_ID</key>
	<string>motorz-3a171</string>
	<key>STORAGE_BUCKET</key>
	<string>motorz-3a171.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26209738343:ios:d471f6257ad20c68bbfec2</string>
</dict>
</plist>